<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>
    <!-- Link style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /Link style -->
    <!-- Axios -->
    

</head>
<body>
    
    <div id="root">
        <ol>
            <li v-for="(email, index) in emails" :key="index" v-if="emails.length == 10">Indirizzo email: {{email}}</li>
        </ol>
    </div>


    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- /Axios -->

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- /Vue.js -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/vue-chat-scroll/dist/vue-chat-scroll.min.js"></script>
    <!-- Javascript -->
    <script src="js/main.js"></script>
    <!-- /Javascript -->

</body>
</html>